:root {
    --bg-color-white: #FFFFFF;    
    --bg-color-green: #44ce6f;
    --bg-color-lightGreen: #cdf1d8;
    --bg-color-lightPurple: #f5dffd;    
    --bg-color-purple: #c679e3;
    --bg-color-main-font: #0e314c;
    --bg-color-secondary-font:  #6084a4;    
    --bg-color-gradient: linear-gradient(to right top,#d5fefd,#e0fdff,#effbff,#fbfaff,#fffcff);
    --btn-color-gradient: linear-gradient(90deg,#ee0979,#ff6a00);
    --btn-color-gradient-secondary: linear-gradient(135deg,#23bdb8,#43e794);
    --btn-color-gradient-third: linear-gradient(to left bottom,#fffcff,#fbfaff,#effbff,#e0fdff,#d5fefd);
    --btn-color-gradient-fourth: linear-gradient(to right top,#a3a3a3,#9a9a9a,#909090,#878787,#7e7e7e);
}

@font-face {
    src: url('../../fonts/Poppins/Poppins-Regular.ttf');
    font-family: 'Poppins';
}


body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    display: inline-block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.center {
    text-align: center;
}
.section-title {
    font-size: 30px;
    color: var(--bg-color-main-font);
    margin-bottom: 60px;
}
p {
    color: var(--bg-color-secondary-font);
    line-height: 1.6;
}
h1 {
    font-size: 50px;
    color: var(--bg-color-main-font);
}
h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--bg-color-main-font);
}

hr {
    content:'';
    display: inline-block;
    background-color: var(--bg-color-lightGreen);
    height: 5px;
    width: 90px;
    bottom: 20px;
    left: 0;
    position: relative;
    overflow: visible;
    border: none;
}       
hr:after {
    content: "";
    position: absolute;
    background-color: var(--bg-color-green);
    width: 10px;
    height: 10px;
    top: -2.5px;
    border-radius: 100%;
    animation: anim-hr 3s linear infinite; 
}
@keyframes anim-hr {
    0% {
        left: -2%;
    }
    100% {
        left: 95%;
    }
}

.anim-downUp{
    animation: anim-down-up 7s linear infinite;
}

@keyframes anim-down-up {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.anim-downUp-faster{
    animation: anim-down-up 5s linear infinite;
}

@keyframes anim-down-up {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.anim-leftRight{
    animation: anim-left-right 7s linear infinite;
}

@keyframes anim-left-right {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-20px); }
    100% { transform: translateX(0); }
}
