.btn {
    cursor: pointer;
    background-color: var(--bg-color-green);
    color: var(--bg-color-white);
    padding: 0.6em 1.9em;
    font-size: 16px;
    display: inline-block;
    border: none;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.header-btn {
    float: right;
    margin-right: 20px;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: 700;
}
@media (max-width: 1000px) {
    .header-btn {
        font-size: 10px;
    }
}
@media (min-width: 1000px) {
    .header-btn {
        font-size: 13px;
    }
}
@media (min-width: 1200px) {
    .header-btn {
        font-size: 16px;
    }
}

.btn-hero-about::after,
.btn-hero-about::before,
.btn-purple::after,
.btn-purple::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--bg-color-purple);
    transform: scaleX(0);
    transition: .5s;
    z-index: -1;
}
.btn-hero-about::after {
    left: 0;
    transform-origin: left;
}
.btn-hero-about:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.btn-hero-about::before {
    right: 0;
    transform-origin: right;
}
.btn-hero-about:hover::before {
    transform: scaleX(1);
    transform-origin: right;
    
}
.btn-gradient {
    background: var(--btn-color-gradient);
    border-radius: 5px;
}
.btn.btn-purple {
    background-color: var(--bg-color-purple);
    text-transform: uppercase;
}
.btn-gradient:hover {
    background: var(--btn-color-gradient-secondary);
    
}
.btn-purple:hover::after,
.btn-purple:hover::before {
    background-color: var(--bg-color-green);
    transform: scaleX(1);
}
.btn-purple::after {
    left: 0;
    transform-origin: left;
}
.btn-purple::before {
    right: 0;
    transform-origin: right;
}
.btn.btn-pricing {
    background: var(--btn-color-gradient-third);
    color: var(--bg-color-main-font);
    border-radius: 5px 0px 0px 5px;
}
.btn-pricing.right-radius {
    border-radius: 0px 5px 5px 0px;
}
.btn.btn-plans {
    padding: 0.5em 2em;
    border-radius: 24px;
}
.btn.btn-plans:hover {
    background: var(--btn-color-gradient-fouth);
}
.btn.btn-news {
    background-color: var(--bg-color-white);
    border-radius: 24px;
}
.btn.btn-news:hover {
    background-color: var(--bg-color-green);
}
