/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import "../3rd-party/font-awesome.min.css";

/* components */
@import "../components/button.css";
@import "../components/form.css";
@import "../components/badge.css";

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* Hero: start */
/* Hero: end */

/* Featured solutions: start */
.featured-titles a {
  display: block;
  margin: 12px 0px;
  text-decoration: none;
  color: var(--bg-color-main-font);
}

.ico i {
  padding-left: 25px;
  margin-bottom: 30px;
  font-size: 45px;
  color: var(--bg-color-green);
}

.ico img {
  position: relative;
  top: -25px;
  left: -60px;
  z-index: -1;
}

.featured-titles a:hover,
.learn-more a:hover {
  color: var(--bg-color-green);
  transition-duration: 1s;
}

.fa-plus-circle {
  padding: 0;
  margin-right: 5px;
  font-size: 20px;
  color: var(--bg-color-main-font);
}



/* Featured solutions: end */

/* About us: start */
/* About us: end */

/* Our services: start */

/* Our services: end */

/* Our projects: start */
/* Our projects: end */

/* Custom designs: start */
/* Customs designs: end */

/* Pricing: start */
/* Pricing: end */

/* Testimonials: start */
/* Testimonials: end */

/* News: start */
/* News: end */

/* contacts: start */
/* contacts: end */

/* footer: start */
/* footer: end */