/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */


/* header: start */
/* header: end */

/* Hero: start */
/* Hero: end */

/* Featured solutions: start */
/* Featured solutions: end */

/* About us: start */
/* About us: end */

/* Our services: start */
/* Our services: end */

/* Our projects: start */


.our-project{
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
} 

.features-h2 {
    line-height: 37px;
    font-size: 20px;
    margin: auto;
    text-align: center;
    max-width: 570px;
    
    
}

.features-p
   {
    text-align: center;
    max-width: 520px;
    margin: auto;
    margin-bottom: 100px;
}
.bar {
    background: #cdf1d8;
    border-radius: 30px;
    height: 5px;
    margin: 20px auto;
    position: relative;
    width: 100px;
}

.contacts-box {
    border: 1px dashed #ebebeb;
    border-radius: 5px;
    margin: 80px auto 0;
    max-width: 700px;
    padding: 30px 210px 30px 30px;
    position: relative;
    
}
.contacts-box > h3 {
    font-size: 20px;
    margin-bottom: 6px;
}
.features-col > div {
    color: #44ce6f;
    text-align: center;
    
    
}
.btn {
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 40px;
    position: relative;
    text-transform: uppercase;
    transition: .5s;
    z-index: 1;
}
.contacts-box > .btn {
    margin-top: -27px;
    position: absolute;
    right: 30px;
    top: 50%;
}

/* Our projects: end */

/* Custom designs: start */
/* Customs designs: end */

/* Pricing: start */
/* Pricing: end */

/* Testimonials: start */
/* Testimonials: end */

/* News: start */
/* News: end */

/* contacts: start */
/* contacts: end */

/* footer: start */
/* footer: end */ 