/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */


/* header: start */
header > .row {
    position: absolute;
    top: 0;
}
header > .row > .col-12 > .btn {
    float: right;
}
/* header: end */

/* Hero: start */
/* Hero: end */

/* Featured solutions: start */
/* Featured solutions: end */

/* About us: start */
/* About us: end */

/* Our services: start */
/* Our services: end */

/* Our projects: start */
/* Our projects: end */

/* Custom designs: start */
/* Customs designs: end */

/* Pricing: start */
/* Pricing: end */

/* Testimonials: start */
/* Testimonials: end */

/* News: start */
/* News: end */

/* contacts: start */
/* contacts: end */

/* footer: start */
/* footer: end */ 